@{
    ViewData["Title"] = "Home Page";
}
@model DiegoMoyanoProject.ViewModels.Home.IndexHomeViewModel;
<div class="text-center container">
    <div class="container">
        <h1 class="display-4 fw-bolder">Blue Cheetah</h1>
    </div>
    <section class="py-5 bg-image-home text-white" >
        <div class="container px-5 my-5">
            <div class="text-center">
                <div class="d-inline-block bg-light rounded mb-2 d-lg-block">
                    <h2 class="display-4 fw-bolder mb-4 text-primary">Ingresa para ver tu rendimiento</h2>
                </div>
                <div class="d-inline-block bg-light rounded mb-2">
                @if (!Model.IsLogued)
                {
                    <a class="btn btn-outline-primary btn-lg px-5 py-3 fs-6 fw-bolder" asp-controller="Login" asp-action="Index">Iniciar Sesión</a>
                }
                else
                {
                    <a class="btn btn-outline-primary btn-lg px-5 py-3 fs-6 fw-bolder" asp-controller="Login" asp-action="LogOut">Cerrar Sesión</a>
                }
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 container">
        <div class="container px-5 mb-5">
            <div class="container text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Ventas desde USA para la Argentina</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="container col-lg-11 col-xl-9 col-xxl-8">
                    <!-- Project Card 1-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-0">
                            <div class="align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">Nuestro Paquete mas importante es el tuyo</h2>
                                    <p>Blue Cheetah se asegura de que tus pedidos viajen en el mejor empaque posible.</p>
                                </div>
                                <img class="img-fluid" src="~/img/Home/LogoBlueCheetah.jpeg" alt="Blue Cheetah">
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 2-->
                    <div class=" card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class=" card-body p-0">
                            <div class=" align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">Hacemos que lo difícil sea mucho más fácil</h2>
                                    <p>Somos la forma más fácil, rápida y segura de importar tus compras de USA hasta la puerta de tu casa</p>
                                </div>
                                <img class="img-fluid" src="~/img/Home/LogoFBA.jpeg" alt="FBA">
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 2-->
                    <div class=" card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class=" card-body p-0">
                            <div class=" align-items-center">
                                <img class="img-fluid" src="~/img/Home/IphoneLlegaATiempo.jpg" alt="Tu iphone llega a tiempo">
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 2-->
                    <div class=" card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class=" card-body p-0">
                            <div class=" align-items-center">
                                <img class="img-fluid" src="~/img/Home/Ps4.jpg" alt="Compra tu PS4">
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 2-->
                    <div class=" card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class=" card-body p-0">
                            <div class=" align-items-center">
                                <img class="img-fluid" src="~/img/Home/PedidoLlegaATiempo.jpg" alt="Tu pedido llega a tiempo">
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 2-->
                    <div class=" card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class=" card-body p-0">
                            <div class=" align-items-center">
                                <img class="img-fluid" src="~/img/Home/McBookAir.jpg" alt="Compra tu McBookAir">
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 2-->
                    <div class=" card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class=" card-body p-0">
                            <div class=" align-items-center">
                                <img class="img-fluid" src="~/img/Home/SuperRobot.jpg" alt="Compra tu super robot">
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 2-->
                    <div class=" card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class=" card-body p-0">
                            <div class=" align-items-center">
                                <img class="img-fluid" src="~/img/Home/CompraRopa.jpg" alt="Compra Ropa">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

