@using DiegoMoyanoProject.ViewModels.UserPdf ;
@model IndexOwnerUserPdfViewModel
<div class="container text-center">
    <h1 class="display-4">Reportes</h1>
</div>

<div class="gallery container row" onclick="openLightbox(event)">
    <div class="container text-center col-lg-4 col-md-6 col-sm-12">
        @if (Model.PdfData != null)
        {
            <form asp-controller="UserPdf" asp-action="OnGetDownloadFileFromFolder" method="post" enctype="multipart/form-data">
                <input type="hidden" name="pdf" value="@Convert.ToBase64String(Model.PdfData.Pdf)" />
                <button type="submit" class="btn btn-primary">
                    <img src="~/img/UserPdf/no_pdf.jpg" />
                    <p>Descargar Reporte</p>
                </button>
            </form>

        }
        else
        {
            <img src="~/img/UserPdf/no_pdf.jpg"
                 alt="No pdf" class="img-fluid rounded border border-dark">
        }
        <h5 class="text-primary font-weight-bold">Ultimo reporte</h5>
        <ul class="action-list list-unstyled list-inline">
            @if (Model.PdfData != null)
            {
                <li><a asp-controller="UserPdf" asp-action="UploadPdfForm" data-tip="edit" class="list-inline-item"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></li>
                <li><a asp-controller="UserPdf" asp-action="UpdatePdfForm"  asp-route-order="@Model.PdfData.Order" data-tip="edit" class="list-inline-item"><i class="fa fa-edit" aria-hidden="true"></i></a></li>
                <li><a asp-controller="UserPdf" asp-action="Delete"  asp-route-order="@Model.PdfData.Order" data-tip="delete" class="list-inline-item"><i class="fa fa-trash" aria-hidden="true"></i></a></li>
            }
            else
            {
                <li><a asp-controller="UserPdf" asp-action="UploadPdfForm"  data-tip="edit" class="list-inline-item"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></li>
            }
        </ul>
    </div>

</div>

<!-- Lightbox container -->
<div id="lightbox">
    <span id="close-btn" onclick="closeLightbox()">&times;</span>

    <!-- Main lightbox image -->
    <img id="lightbox-img" src="" alt="lightbox image">

    <!-- Thumbnails container -->
    <div id="thumbnail-container">
        <!-- Thumbnails will be added dynamically using JavaScript -->
    </div>

    <!-- Previous and Next buttons -->
    <button id="prev-btn" onclick="changeImage(-1)">&lt; Prev</button>
    <button id="next-btn" onclick="changeImage(1)">Next &gt;</button>
</div>